<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SOS Request Installer</Name>
    <Version>0.1.0</Version>
    <Title> SOS Request v0.1.0 Installer</Title>
    <Publisher>Салон Охранных Систем</Publisher>
    <StartMenuDir>SOS Request</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/SOSRequest</TargetDir>
        <AllowSpaceInPath>true</AllowSpaceInPath>
</Installer>
